/**
* ! changing the defult style of the browser!
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/**
* ! Navbar styles goes here.
**/
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #212529;
  color: #fff;
  padding: 15px 50px;
}

.cart {
  position: relative;
  background-color: #fff;
  color: #212529;
  font-size: 30px;
  padding: 5px;
  border-radius: 4px;

  cursor: pointer;
}

.cart-amount {
  font-size: 16px;
  background-color: red;
  color: #fff;

  position: absolute;
  top: -15px;
  right: -10px;
  padding: 3px;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #fff;
}

/**
*! shop items style goes here!
**/
.shop {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  padding: 0 20px;
  margin: 20px 10px;
}
/** 
*! to make the shope responsive one
 **/
@media (max-width: 1000px) {
  .shop {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 760px) {
  .shop {
    grid-template-columns: repeat(1, 1fr);
  }
}

.image {
  width: 100%;
  height: auto;
  border-radius: 2px 2px 0 0;
}

[class^="item-"] {
  border: 2px solid dodgerblue;
  border-radius: 4px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bi-dash-lg,
.bi-plus-lg {
  cursor: pointer;
  font-size: 18px;
}

.bi-dash-lg {
  color: red;
}

.bi-plus-lg {
  color: green;
}

/**
*!style rules for cart html page 
**/
.text-center {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.text-center .homeBtn {
  padding: 10px 20px;
  border: 2px solid darkblue;
  border-radius: 5px;
  cursor: pointer;
}

.text-center .homeBtn:hover {
  background-color: #212529;
  color: orange;
  border: 2px solid orange;
}

.bi-x-lg {
  color: red;
  font-weight: bold;
  cursor: not-allowed;
}

/**
* !style rules for shoping-cart
**/

.shoping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  justify-content: center;
  margin: 10px 0;
}

/**
* !style rules for cart items
**/

.cart-item {
  border: 2px solid darkblue;
  box-shadow: 3px 2px 5px 3px rgba(20, 8, 32, 0.3);
  border-radius: 5px;
  display: flex;
}

.cart-item:hover {
  background-color: #212529;
  color: orange;
  transition: all ease-in-out 1s;
}

.title-price-x {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid darkblue; */
}

.title-price {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cart-item-price {
  background-color: #212529;
  color: #fff;
  border-radius: 5px;
  padding: 3px 6px;
}

.checkout,
.removeAll {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid darkgoldenrod;
  font-size: 16px;
}

.checkout {
  background-color: green;
  color: #fff;
}

.removeAll {
  background-color: red;
  color: #fff;
}

/**
*! Footer style goes here!
**/

.footer {
  /* margin: 20px 10px; */
  /* border: 2px solid #212529; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  background-color: #212529;
}

.footer a {
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
.footer a:hover {
  background-color: orange;
  color: #212529;
  border-radius: 5px;
}
[class^="footer-item-"] {
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer h3 {
  font-size: 2rem;
  color: #fff;
}

.footer p {
  color: darkgray;
  margin: 10px;
}

/**
*! make the footer responsive
 */
@media (max-width: 1000px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-item-2,
  .footer-item-3 {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
